{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <div class="container">
            <h3 class="text-center mb-4">Выбранные товары</h3>
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
        </div>
        <!-- Детали заказа -->
        <div class="container">
            <h3 class="text-center">Order details</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <form action="{% url 'orders:create_order' %}" method="POST">
                        {% csrf_token %}
                        <div style="color: red;">{{ form.non_field_errors }}</div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.first_name.id_for_label }}"
                                       class="form-label">{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                <div style="color: red;">{{ form.first_name.errors }}</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.last_name.id_for_label }}"
                                       class="form-label">{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                <div style="color: red;">{{ form.last_name.errors }}</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.phone_number.id_for_label }}"
                                       class="form-label">{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                                <div style="color: red;">{{ form.phone_number.errors }}</div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.requires_delivery.id_for_label }}"
                                   class="form-label">{{ form.requires_delivery.label }}</label>
                            {% for radio in form.requires_delivery %}
                                <div class="form-check form-check-inline">
                                    {{ radio.tag }}
                                    <label class="form-check-label"
                                           for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3" id="deliveryAddressField">
                            <label for="{{ form.delivery_address.id_for_label }}"
                                   class="form-label">{{ form.delivery_address.label }}</label>
                            {{ form.delivery_address }}
                            <div style="color: red;">{{ form.delivery_address.errors }}</div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.payment_on_get.id_for_label }}"
                                   class="form-label">{{ form.payment_on_get.label }}</label>
                            {% for radio in form.payment_on_get %}
                                <div class="form-check form-check-inline">
                                    {{ radio.tag }}
                                    <label class="form-check-label"
                                           for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                </div>
                <button type="submit" class="btn btn-dark">Checkout</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
