{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                        <h5>Please fill your email, then we send you link to reset your password</h5>
                        <form action="{% url 'users:password_reset' %}" method="post">
                            {% csrf_token %}
                            <div style="color: red;">{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                <div class="col-md-12 mb-3">
                                    <p><label for="{{ f.id_for_label }}"
                                              class="form-label">{{ f.label }}
                                    </label>
                                        <input id="{{ f.id_for_label }}" class="form-control" name="{{ f.name }}">
                                    </p>
                                    <div style="color: red;">{{ f.errors }}</div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-dark btn-block">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}